#main-banner-div{
    background-color:#660033;
    height: 140px;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@media screen{
    #banner-text-div{
        color:#ffffff;
        font-size: 40pt;
        margin-left: 10px;
        margin-top: 30px;
        float:left;
    }
}

@media only screen 
and (max-width : 1280px) {
    #banner-text-div{
        color:#ffffff;
        font-size: 25pt;
        margin-left: 10px;
        margin-top: 30px;
        float:left;
    }
}


#logo-div{
    background:url('/img/logo.png');
    width:100px;
    height:100px;
    float:right;
    margin-top:20px;
}

.navbar{
    margin-top:20px;
}

.search-section button{
}

ol#results-list{
    list-style-type: none;
}

ol#results-list li{
    margin-top: 15px;
}

ol#results-list li a{
    text-decoration:none;
    font-size:13pt;
}


#pagination-div{
    text-align:center;
}

/* This is for the upload bars */
.bar {
    height: 18px;
    background: grey;
}

#main-music-detail-div{
    text-align:center;
}

#main-music-detail-div .song-name{
    font-size: 16pt;
    margin-bottom:10px;
}

#main-music-detail-div .artist{
    font-size: 14pt;
    margin-bottom:10px;
}

#main-music-detail-div .original-file-name{
    margin-bottom:10px;
    color:#747474;
}

#main-music-detail-div .tags{
    margin-bottom:40px;
}

.label-wrapper-div{
    float:left;
    margin-bottom: 15px;
}

#select-tag-modal .tags-container{
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    margin-bottom:30px;
}

#tag-filter-accordion .tags-container{
    
}

.label.music-tag{
    margin-right:5px;
    padding:7px;
}

.detail-tag{
    margin-right:5px;
}

.label.music-tag.search, .label.music-tag.select, .label.music-tag.remove{
    cursor:pointer;
}

.upload-button-div{
    margin-bottom:45px;
}

.tag-search span{
    display: block;
    margin-top: 26px;
}


#main-music-detail-div .song-name a{
    margin-left: 13px;
}