#main-banner-div{
    background-color:#660033;
    height: 140px;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@media screen{
    #banner-text-div{
        color:#ffffff;
        font-size: 40pt;
        margin-left: 10px;
        margin-top: 30px;
        float:left;
    }
}

@media only screen 
and (max-width : 1280px) {
    #banner-text-div{
        color:#ffffff;
        font-size: 25pt;
        margin-left: 10px;
        margin-top: 30px;
        float:left;
    }
}


#logo-div{
    background:url('/img/logo.png');
    width:100px;
    height:100px;
    float:right;
    margin-top:20px;
}

.navbar{
    margin-top:20px;
}

.search-section button{
}

#search-input-div{
    margin-bottom: 10px;
}

#collection-filter-div{
    text-align: center;
}

.tags-container{
    margin-top:10px;
}

ol#results-list{
    list-style-type: none;
    padding-left:0px;
}

#results-main-div{
    margin-top:20px;
}

a.accordion-toggle{
    font-weight:bold;
}

ol#results-list li .tags{
    margin-top:6px;
    padding-left:0px;
}

ol#results-list li{
    margin-top: 15px;
    border-bottom: 1px solid #E9E9E9;
    height: 90px;
}

ol#results-list li .song-name{
    padding-left:0px;
}

ol#results-list li .song-name span{
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

ol#results-list li .song-name i{
    margin-left:9px;
    color: #1F629C;
    font-size: 17px;
}

ol#results-list li a{
    text-decoration:none;
    font-size:15pt;
}

ul.pagination li{
    cursor:pointer;
}

#pagination-div{
    text-align:center;
}

/* This is for the upload bars */
.bar {
    height: 18px;
    background: grey;
}

#add-to-favourites{
    margin-top:15px;
}

#main-music-detail-div{
    text-align:center;
}

#main-music-detail-div .input-group-btn button{
    border-radius:0 6px 6px 0;
}


#main-music-detail-div .song-name{
    font-size: 16pt;
    margin-bottom:10px;
}

.player{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 241px;
}

#main-music-detail-div .artist{
    font-size: 14pt;
    margin-bottom:10px;
}

#main-music-detail-div .soft-message{
    margin-bottom:10px;
    color:#747474;
}

#main-music-detail-div .tags{
    margin-bottom:40px;
}

.detail-tag .dropdown-menu li{
    cursor:pointer;
}

.label-wrapper-div{
    float:left;
    margin-bottom: 15px;
}

#select-tag-modal .tags-container{
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    margin-bottom:30px;
}


.tags-box{
    margin-top:30px;
}


#tag-filter-accordion .tags-container{
    
}

.label.music-tag{
    margin-right:5px;
    padding:7px;
    cursor:pointer;
}

.detail-tag{
    margin-right:5px;
}

.label.music-tag.search, .label.music-tag.select, .label.music-tag.remove{
    cursor:pointer;
}

.upload-button-div{
    margin-bottom:45px;
}

.tag-search span{
    display: block;
    margin-top: 26px;
}


#main-music-detail-div .song-name a{
    margin-left: 13px;
}

#main-related-videos-div{
    text-align:center;
    margin-top:25px;
}

.sub-box{
    border:1px solid #3c3c3c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.sub-box-content{
    padding:10px;
}

.sub-box-title{
    background-color:#993366;
    height:35px;
    padding-top:4px;
    padding-left:15px;
    width:100%;
    color:#ffffff;
    font-size:14pt;
    text-align:left;
}


#main-related-videos-div div.input-group{
    clear:both;
    padding-top:20px;
}


.new .username{
    font-weight: bold;
    margin-bottom: 5px;
}

.new .date-created{
    color:#adadad;
}

#news-main-div button{
    margin-top:10px;
}
.new{
    border: 1px solid #AAAAAA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom:10px;
}

div.registration{
    margin-top:6px;
}

#login-main-div, #user-create-main-div{
    margin-top:10%;
}

#progress{
    margin-top:8px;
}

/* Fluid embedded videos */

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-wrapper {
	width: 500px;
	max-width: 100%;
        float:left;
        margin-right:20px;
        margin-top:20px;
}
